body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5F5;
}


.title{
    width: 332px;
    height: 50px;
    flex-shrink: 0;
    color: #000;
    font-family: "Open Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; 
    margin-left: 2%;

}
.content-table{
margin:30px;


}
.incele-button{
    display: flex;
    width: 77px;
    height: 25px;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border-radius: 10px;
    border:none;
    background: #CE0538;
    color:white;
}
.filter-menu {
    background-color: red;
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;
    margin: auto;
    color: white;
}

.filter-item {
    margin-bottom: 10px;
}

.filter-item label {
    display: block;
    margin-bottom: 5px;
}

.filter-item select,
.filter-item button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.filter-item button {
    background-color: white;
    color: red;
    cursor: pointer;
}

.filter-item button:hover {
    background-color: #f3f3f3;
}
