.eamilIdChild {
    position: absolute;
    top: calc(50% - 11.61px);
    left: calc(50% - 209px);
    border-radius: 8.08px;
    background-color: #fff;
    width: 418px;
    height: 69.7px;
}
.adnz {
    position: absolute;
    top: calc(50% - 58.1px);
    left: calc(50% - 209px);
    display: inline-block;
    width: 130.5px;
    height: 32.8px;
}
.ltfenAdnzGirin {
    position: absolute;
    top: calc(50% + 8.17px);
    left: calc(50% - 180.95px);
    font-size: 14.14px;
    color: #000;
    display: inline-block;
    width: 170.8px;
    height: 28.7px;
}
.eamilId {
    position: absolute;
    top: calc(50% - 138.46px);
    left: calc(50% - 434.5px);
    width: 418px;
    height: 116.2px;
}
.ltfen11Haneli {
    position: absolute;
    top: calc(50% + 7.9px);
    left: calc(50% - 181px);
    font-size: 14.14px;
    color: #000;
    display: inline-block;
    width: 225px;
    height: 29px;
}
.eamilId1 {
    position: absolute;
    top: calc(50% + 22.4px);
    left: calc(50% + 16.5px);
    width: 418px;
    height: 116.2px;
}
.eamilId2 {
    position: absolute;
    top: calc(50% - 138.6px);
    left: calc(50% + 16.5px);
    width: 418px;
    height: 116.2px;
}
.ltfenTelefonNumaranz {
    position: absolute;
    top: calc(50% + 7.9px);
    left: calc(50% - 181px);
    font-size: 14.14px;
    color: #000;
    display: inline-block;
    width: 232px;
    height: 29px;
}
.eamilId3 {
    position: absolute;
    top: calc(50% + 22.4px);
    left: calc(50% - 434.5px);
    width: 418px;
    height: 116.2px;
}
.eamilIdParent {
    width: 869px;
    position: relative;
    height: 277.2px;
}
.denizbankaVermiOlduum {
    display: flex;
    align-items: center; /* Align items vertically */
    font-size: 17px;
    font-family: 'Open Sans';
    color: #fff;
    text-align: left;
    width: 535px;
    height: 53.1px;
    white-space: pre-wrap; /* Allows breaking text into multiple lines */
  }
  




.denizbankaVermiOlduumZeParent {
    width: 593px;
    position: relative;
    height: 64.8px;
    font-size: 17px;
}
.ikayetOlutur {
    position: relative;
    line-height: 22px;
    font-weight: 600;
}
.button {
    width: 283px;
    box-shadow: 0px 13px 37px rgba(0, 0, 0, 0.21);
    border-radius: 10px;
    background-color: #fff;
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    color: #0033a0;
}
.groupParent {
    position: absolute;
    top: 418px;
    left: 220px;
    border-radius: 20px 20px 0px 0px;
    background-color: #0033a0;
    width: 1000px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 74px 65px;
    box-sizing: border-box;
    gap: 35px;
    text-align: left;
}
.button1 {
    position: absolute;
    top: 120px;
    left: 1103px;
    box-shadow: 0px 13px 37px rgba(0, 0, 0, 0.21);
    border-radius: 10px;
    background-color: #0033a0;
    width: 233px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 0.3s ease; /* Add a transition for color change */
}

.button1:hover .denizbankAlanym {
    color: black; /* Change to your desired color on hover */
}


.ltfenBilgileriniziGiriniz {
    position: absolute;
    top: 270px;
    left: 89px;
    font-weight: 600;
    display: inline-block;
    width: 483px;
    height: 43px;
}
.dummyLogo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 662px;
    height: 270px;
}
.ltfenBilgileriniziGirinizParent {
    position: absolute;
    top: 0px;
    left: 7px;
    width: 662px;
    height: 313px;
}
.mavi1Icon {
    position: absolute;
    top: 119px;
    left: 0px;
    width: 675px;
    height: 151px;
    object-fit: cover;
}
.groupContainer {
    position: absolute;
    top: 43px;
    left: 382px;
    width: 675px;
    height: 313px;
    font-size: 30px;
    color: #555;
}
.kullancBilgileriBa {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: 'Open Sans';
    padding: 20px;
    margin-top: -90px; /* Adjust this value to move the component higher */
}
.mavi1Icon {
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 151px;
    object-fit: cover;
}
.denizbankAlanym {
    position: relative;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    font-family: 'Open Sans';
    color: #fff;
    text-align: center;
}












